<head>
    <title> NCIS Statistics </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery  -->
    <!--<script src="https://code.jquery.com/jquery.js"></script>-->
    <!-- <script src="{{ STATIC_URL }}jquery.js"></script> -->
    <!-- Boostrap -->
    <script src="/static/dist/js/bootstrap.min.js"></script>
    <script src="/static/jquery.js"></script>
    <script src="/static/highcharts.js"></script>
    <!-- personal CSS -->
    <link href="/static/statistics.css" rel="stylesheet">

</head>

    <!-- <script type = "text/javascript" src="/static/js/flot/jquery.flot.axislabels.js"></script>  --> 
    <!-- <script type = "text/javascript" src = "/static/js/jquery-1.11.2.js"></script> -->
    <!-- <script type = "text/javascript" src = "/static/js/flot/jquery.flot.js"></script> -->
    <!-- <script type = "text/javascript" src = "{{STATIC_URL}}flot/jquery.flot.time.js"></script>
    <script type = "text/javascript" src="{{STATIC_URL}}flot/date.js"></script>
    <script type = "text/javascript" src="{{STATIC_URL}}flot/jquery.flot.min.js"></script>  -->

<!--    <script type = text/javascript src={{STATIC_URL}}flot/excanvas.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/excanvas.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.colorhelpers.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.colorhelpers.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.canvas.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.canvas.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.categories.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.categories.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.crosshair.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.crosshair.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.errorbars.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.errorbars.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.fillbetween.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.fillbetween.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.image.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.image.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.navigate.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.navigate.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.pie.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.pie.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.resize.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.resize.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.selection.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.selection.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.stack.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.stack.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.symbol.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.symbol.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.threshold.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.threshold.min.js></script>-->
<!--    <script type = text/javascript src={{STATIC_URL}}flot/jquery.flot.time.min.js></script>-->

