<!DOCTYPE html>
<html>
  <!-- Head -->
  {% include 'head.html' %}
  <!-- clock js -->
  <!-- <script src="{{ STATIC_URL }}clock.js"></script> -->
  <body>
    <!-- Navbar -->
    {% with "Home" as namepage  %}
        {% include 'navbar.html' %}
    {% endwith %}
    
    <div class="container">
        <fieldset class="scheduler-border">
            <!-- <legend class="scheduler-border"><a href="{% url 'webgui.views.homepage' %}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh"></span></a> Date </legend>  -->

<!--             <div style="text-align: center">
                <strong class="text-primary"><div id="clock">{{ clock }}</div></strong>
            </div>   -->
	    <div style="text-align: left">
                <strong class="text-primary"><div id="clock"> <img src="{{STATIC_URL}}dist/img/NCIS.png" height="130" width="130"> {{ date }} </div></strong>
            </div>

        </fieldset>
        </br>
    </div> 

    <div class="container">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="{% url 'webgui.views.addproject' %}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span></a> Active Projects </legend>
          <table class="table">
            <thead>
                    <tr>
                        <strong><th> Project </th></strong>
                        <strong><th> Company </th></strong>
                        <strong><th> Created at </th></strong>
                        <strong><th> Packages Count</th></strong>
                        <strong><th> Delete Project </th></strong>
                    </tr>
                </thead>
                    {% for project in listprojects %}
                <tbody>
                        <tr>
                            <th>
                                {{ project.name }}
                            </th>
                            <th>
				{% if project.company %}
                                	{{ project.company }}
				{% else %}
					<i> Company not specified</i>. 
				{% endif %}
				
                            </th>
                            <th>
                               {{ project.creation_date }} 
                            </th>
                            <th>
                               <a href="{% url 'webgui.views.listpackages' project.id %}"style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm">
			                                          <span class="glyphicon glyphicon-briefcase"></span>
				</a>
				&nbsp &nbsp {{ project.packages_set.count }}
                            </th>
                            <th>
                               <a href="{% url 'webgui.views.delproject' project.id %}"style="margin-bottom: 3px" type="button" class="btn btn-danger btn-sm">
                                   <span class="glyphicon glyphicon-trash"></span>
                               </a>
                            </th>
                        </tr>
                </tbody>
                    {% empty %}
                    <p> <i>No projects yet. </i></p>
                    {% endfor %}
          </table>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"><a href="{% url 'webgui.views.displaystats' %}" style="margin-bottom: 3px" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-stats"></span></a> Statistics / Last Package </legend>
          <table class="table">
            <thead>
                    <tr>
                        <strong><th> Package </th></strong>
                        <strong><th> Type </th></strong>
                    </tr>
                </thead>
                    {% for package in lastpackages %}
                <tbody>
                        <tr>
                            <th>
                                {{ package.name }}
                            </th>
                            <th>
				{{ package.extension }}
                            </th>
                        </tr>
                </tbody>
                    {% empty %}
                    <p><i>No history yet. </i></p>
                    {% endfor %}
          </table>
    </div>
    
  </body>
</html>
